/* --------------------- font style ---------------------  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAA60A;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    padding: 4rem;
}

img{
    width: 100%;
    display: inline-block;
}

/* ------------------------------- hero section ----------------------------  */

.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("./images/dogbg.jpg") ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    padding-top: 0.2rem !important;
}

.company{
    display: flex;
    align-items: center;
    color:#fff
}

.company h2{
    margin-left: -3rem;
}

.logo{
    width: 18rem;
    height: auto;
    margin-left: -3.5rem;
    margin-top: -2rem;
}

.navlist{
    display: flex;
    justify-content: space-between;
    color: #FAA60A;
    font-weight: 500;
    width: 30%;
}

.donate{
    color: white;
    background-color: #FAA60A;
    padding: 1.2rem 3rem ;
    border-radius: 3rem;
}

.header{
    padding-top: 28vh;
    color: #FAA60A
}

.heading{
    font-size: 11rem;
    font-weight: bold;
}

.sub-heading{
    font-size: 3.6rem;
    font-weight: 500;
}

/* ----------------------------- service section --------------------------------  */

.service-header{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-header h2{
    color: #00344C;
    font-size: 6.4rem;
    margin-bottom: 1.4rem;
}

.service-header p{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2.8rem;
}

.image-list{
    display: flex;
    justify-content: space-around;
}

.image-list img{
    width: 50rem;
    height: auto;
}

.service:after {
    background-color: #00344C;
    content: "";
    display: inline-block;
    height: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50rem);
    vertical-align: middle;
    width: 50%;
    margin-top: 10rem;
  }

  /* ----------------------- section 2 ------------------------  */

  .information{
      margin-top: 18rem;
      margin-bottom: 12rem;
      display: flex;
  }

  .information-img{
    width: 40%;
    height: auto;
    border-radius: 5rem;
  }

  .content{
      width:50%;
      margin-left: 10rem;
  }

  .content h1{
      font-size: 9.6rem;
      font-weight: bold;
      color: #00344C;
  }

  .content p {
      margin-top: 4rem;
      margin-bottom: 8rem;
      color: #fff;
      font-size: 2.8rem;
  }

  .content a{
      color: #fff;
      font-size: 3rem;
      background-color: #00344C;
      padding: 2rem 4rem;
      border-radius: 5rem;
  }

  /* -------------------------------- donate section ---------------------------- */

  .donation-section{
      background-image: url(./images/pcXb7MobWvk.png);
      background-repeat: no-repeat;
      background-size: cover;
  }

  .donation-content{
    padding-top: 15rem;
    padding-bottom: 10rem;
  }

  .donation-content h1{
      font-size: 11rem;
      color:#FAA60A;
      margin-bottom: 5rem;
  }

  .donation-content h1 span {
      color: #00344C;
  }

  .donation-content a {
      font-size: 2.8rem;
      padding: 2rem 4rem;
  }

/* -------------------- footer ------------------------  */

footer{
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 2.8rem;
    color: #fff;
}

.social-media{
    display: flex;
}

.social-media a {
    margin-right: 3rem;
}

.footer-content{
    width: 30%;
}

.footer-content p{
    margin: -1rem 0 3rem;
}

.footer-list {
    width: 15%;
    margin-left: 3rem;
}

.footer-list li{
    color: #00344C;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.footer-list li a{
    color: #fff;
    font-weight: 400;
}

.suscribe-content{
    width: 30%;
}

.suscribe-content h3{
    color: #00344C;
    font-weight: bold;
}

.suscribe-content p {
    font-size: 2.4rem;
    margin: 2rem 0;
}

.suscribe{
    display: flex;
    align-items: center;
    position: relative;
}

.input-mail{
    padding: 1.5rem 3rem;
    width: 100%;   
    outline: none;
    border: none;
    border-radius: 3rem;
}

.input-mail::placeholder{
    font-size: 2.4rem; 
    color: #00344C;
    font-weight: 500;
}

.input-mail[type=email]{
    color: #00344C;
    font-size: 2.4rem;
}

.btn-suscribe{
    position: absolute;
    right: 2rem;
}